<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>다이렉트 보일러</title>

    <!-- Custom fonts for this theme -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" trype="text/css">

  <!-- Theme CSS -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

  <style type="text/css">
    .select-script{position:relative; width:70%; height:40px; line-height:40px; text-transform:uppercase; background:#fff; margin:0;}
	.select-script label{position:absolute; width:100%; font-size:.86em; color:#606976; top:0; left:0; right:0;  padding:0 5%;}
	.select-script label:after{content:'▼'; width:40px; height:38px; position:absolute; top:0; right:0; margin:0; padding:0 font-size:.76em; color:#fff; text-align:center; background:#606976;}
	.select-script select{width:90%; height:40px; opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0)/* IE 8 */;}

    table.type09 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1;

    }
    table.type09 thead th {
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        color: #369;
        border-bottom: 3px solid #036;
        text-align: center;
    }
    table.type09 tbody th {
        width: 22%;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
        background: #f3f6f7;
        text-align: center;
    }
    table.type09 td {
        width: 20%;
        padding: 10px;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
    .ro {
      width: 100%;
      display: table;
    }
    .box { display: table-cell; }
    .box-a { width: 20%; }
    .box-b { width: 60%; }
    .box-c { width: 20%; }

    .box-d { width: 32%; }
    .box-e { width: 68%; }

    div.box p{
      font-size:0.8em;
    }

    .nav_ro2 {
      width: 94%;
      display: table;
      margin-left:3%;
      margin-right:3%;
      margin-top:2%;
    }
    .nav_box2 { display: table-cell;}
    .nav_box2-a { width: 30%; }
    .nav_box2-b { width: 25%; }
    .nav_box2-c { width: 25%; }
</style>


</head>


<body id="page-top">

  <div class="nav_ro2">
    <div class="nav_box2 nav_box2_a" style="padding-left:3%">
      <a href="{% url 'index' %}">
        <img align="center" width="120%" height="" alt="nav_title1" src="{% static 'img/nav_title1.png' %}"><br><br>
      </a>
    </div>
    <div class="nav_box2 nav_box2_b" style="padding-left:8%">
      <img align="center" width="90%" height="" alt="nav_search" src="{% static 'img/naver_search.png' %}"><br><br>
    </div>

    <div class="nav_box2 nav_box2_c" >
      <a href="tel:0553426151">
        <img align="center" width="95%" height="" alt="nav_title_phone" src="{% static 'img/nav_title_phone.png' %}"><br><br>
      </a>
    </div>

  </div>

  <table width="100%" height="40" border="0" cellspacing="0" cellpadding="0" style="background-color:#FFCC33;">
		<!--<table width="100%" height="35" border="0" cellspacing="0" cellpadding="0" >-->
          <tr style="font-size=5px">
            <td align="center"><a style="color:#000000;" href="{% url 'index' %}"><font size="2em" face="나눔고딕">회사소개</font></a></td>
            <td align="center"><a style="color:#000000" href="{% url 'service' %}"><font size="2em" face="나눔고딕">견적비교</font></a></td>
            <td align="center"><a style="color:#000000" href="{% url 'product_info' %}"><font size="2em" face="나눔고딕">제품소개</font></a></td>
            <td align="center"><a style="color:#000000" href="{% url 'consult' %}"><font size="2em" face="나눔고딕">상담신청</font></a></td>
            <!--<td align="center"><a style="color:#000000" href="{% url 'recent' %}"><font size="2em" face="나눔고딕">설치현황</font></a></td>-->
            <!--<td align="center"><a style="color:#000000" href="{% url 'customer' %}"><font size="2em" face="나눔고딕">고객지원</font></a></td>-->
            <!--<td align="center"><a style="color:#000000" href="{% url 'map' %}"><font size="2em" face="나눔고딕">오시는길</font></a></td>-->
          </tr>
  </table>

  <section class="page-section  mb-0" id="service" >
    <div class="container">
      <div align="center">
      <button style="width:15%; border-radius:12px;"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#gas_boiler">가스 보일러</a></button>
      <button style="width:15%; border-radius:12px;"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#oil_boiler">기름 보일러</a></button>
    </div>
      <br><br>
      <div>
          <h3 align="center" id="gas_boiler">● 가스보일러</h3><br>
          <div align="center">
          <h5>일반형 트윈</h5><br>
            <div class="ro" style="">

              <div class="box box-e" align="center" style=" margin:0; padding:0;">
                <table class="type09" >
                  <thead>
                    <tr>
                      <th colspan="3" >트윈</th>
                    </tr>
                    <tr>
                      <th scope="cols">평형(이하)</th>
                      <th scope="cols">용량(kcal)</th>
                      <th scope="cols">가격(원)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">20평</th>
                      <td>10,000</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">26평</th>
                      <td>13,000</td>
                      <td>330,000</td>
                    </tr>
                    <tr>
                      <th scope="row">32평</th>
                      <td>16,000</td>
                      <td>350,000</td>
                    </tr>
                    <tr>
                      <th scope="row">40평</th>
                      <td>20,000</td>
                      <td>390,000</td>
                    </tr>
                    <tr>
                      <th scope="row">50평</th>
                      <td>25,000</td>
                      <td>470,000</td>
                    </tr>
                    <tr>
                      <th scope="row">60평</th>
                      <td>30,000</td>
                      <td>510,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box box-d" align="left" style="" >
                <p>▶ 순간식+저탕식 보일러</p>
                <p>▶ 알루미늄 열교환기</p>
                <p>▶ 온수출탕시간 단축</p>
                <br>
                <img width="40%" alt="test" src="{% static 'img/rinnai_sample.png' %}" >

              </div>
            </div>
          </div>
          <br>
          <div align="center" >
            <button class="btn" type="button" style="background:#ffff; color:#000000; margin-right:5%" onclick="$('html').animate({scrollTop : 0}, 100)">▲ Go Top</button>
          </div>
          <hr>
          <br>

          <div align="center">
          <h5>일반형 거꾸로IN</h5><br>
            <div class="ro">
              <div class="box box-e" align="center" style=" margin:0; padding:0;">
                <table class="type09" >
                  <thead>
                    <tr>
                      <th colspan="3" >거꾸로IN</th>
                    </tr>
                    <tr>
                      <th scope="cols">평형(이하)</th>
                      <th scope="cols">용량(kcal)</th>
                      <th scope="cols">가격(원)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">20평</th>
                      <td>10,000</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">26평</th>
                      <td>13,000</td>
                      <td>410,000</td>
                    </tr>
                    <tr>
                      <th scope="row">32평</th>
                      <td>16,000</td>
                      <td>430,000</td>
                    </tr>
                    <tr>
                      <th scope="row">40평</th>
                      <td>20,000</td>
                      <td>470,000</td>
                    </tr>
                    <tr>
                      <th scope="row">50평</th>
                      <td>25,000</td>
                      <td>530,000</td>
                    </tr>
                    <tr>
                      <th scope="row">60평</th>
                      <td>30,000</td>
                      <td>580,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box box-d" align="left" >
                <p>▶ 저탕식 보일러</p>
                <p>▶ 스텐레스 열교환기</p>
                <p>▶ 빠르고 풍부한 온수</p>
                <br>
                <img width="40%" alt="test" src="{% static 'img/rinnai_sample.png' %}" >
              </div>
            </div>
          </div>
          <br>
          <div align="center" >
            <button class="btn" type="button" style="background:#ffff; color:#000000; margin-right:5%" onclick="$('html').animate({scrollTop : 0}, 100)">▲ Go Top</button>
          </div>
          <hr>
          <br>

          <div align="center">
          <h5> 고급형 거꾸로 II HI</h5><br>
            <div class="ro">
              <div class="box box-e" align="center" style=" margin:0; padding:0;">
                <table class="type09" >
                  <thead>
                    <tr>
                      <th colspan="3" >거꾸로 II HI</th>
                    </tr>
                    <tr>
                      <th scope="cols">평형(이하)</th>
                      <th scope="cols">용량(kcal)</th>
                      <th scope="cols">가격(원)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">20평</th>
                      <td>10,000</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">26평</th>
                      <td>49,000</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">32평</th>
                      <td>16,000</td>
                      <td>510,000</td>
                    </tr>
                    <tr>
                      <th scope="row">40평</th>
                      <td>20,000</td>
                      <td>560,000</td>
                    </tr>
                    <tr>
                      <th scope="row">50평</th>
                      <td>25,000</td>
                      <td>600,000</td>
                    </tr>
                    <tr>
                      <th scope="row">60평</th>
                      <td>30,000</td>
                      <td>640,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box box-d" align="left">
                <p>▶ 저탕식 보일러</p>
                <p>▶ 순동 열교환기</p>
                <p>▶ 빠르고 풍부한 온수</p>
                <p>▶ 가스비 절약</p>
                <br>
                <img width="40%" alt="test" src="{% static 'img/rinnai_sample.png' %}" >
              </div>
            </div>
          </div>
          <br>
          <div align="center" >
            <button class="btn" type="button" style="background:#ffff; color:#000000; margin-right:5%" onclick="$('html').animate({scrollTop : 0}, 100)">▲ Go Top</button>
          </div>
          <hr>
          <br>

          <div align="center">
          <h5> 거꾸로 4번타는 콘덴싱</h5><br>
            <div class="ro">
              <div class="box box-e" align="center" style=" margin:0; padding:0;">
                <table class="type09" >
                  <thead>
                    <tr>
                      <th colspan="3" >4번타는 콘덴싱</th>
                    </tr>
                    <tr>
                      <th scope="cols">평형(이하)</th>
                      <th scope="cols">용량(kcal)</th>
                      <th scope="cols">가격(원)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">20평</th>
                      <td>10,000</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">26평</th>
                      <td>13,000</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">32평</th>
                      <td>16,000</td>
                      <td>560,000</td>
                    </tr>
                    <tr>
                      <th scope="row">40평</th>
                      <td>20,000</td>
                      <td>580,000</td>
                    </tr>
                    <tr>
                      <th scope="row">50평</th>
                      <td>25,000</td>
                      <td>630,000</td>
                    </tr>
                    <tr>
                      <th scope="row">60평</th>
                      <td>30,000</td>
                      <td>730,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box box-d" align="left">
                <p>▶ 최고 35%가스비 절약</p>
                <p>▶ 4번 타는 연소구조</p>
                <p>▶ 알루미늄 열교환기 </p>
                <p>▶ 순간식 보일러</p>
                <br>
                <img width="40%" alt="test" src="{% static 'img/rinnai_sample.png' %}" >
              </div>
            </div>
          </div>
          <br>
          <div align="center" >
            <button class="btn" type="button" style="background:#ffff; color:#000000; margin-right:5%" onclick="$('html').animate({scrollTop : 0}, 100)">▲ Go Top</button>
          </div>
          <hr>
          <br>
          <br>

          <h3 align="center" id="oil_boiler">● 기름보일러</h3><br>

          <div align="center">
          <h5> 일반형 철 외장형</h5><br>
            <div class="ro">
              <div class="box box-e" align="center" style=" margin:0; padding:0;">
                <table class="type09" >
                  <thead>
                    <tr>
                      <th colspan="4" >철 외장형</th>
                    </tr>
                    <tr>
                      <th scope="cols">평형(이하)</th>
                      <th scope="cols">용량(kcal)</th>
                      <th scope="cols">모델</th>
                      <th scope="cols">가격(원)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">20평</th>
                      <td>9,000</td>
                      <td>TURBO-9S</td>
                      <td>480,000</td>
                    </tr>
                    <tr>
                      <th scope="row">26평</th>
                      <td>13,000</td>
                      <td>TURBO-13S</td>
                      <td>500,000</td>
                    </tr>
                    <tr>
                      <th scope="row">32평</th>
                      <td>17,000</td>
                      <td>TURBO-17S</td>
                      <td>530,000</td>
                    </tr>
                    <tr>
                      <th scope="row">40평</th>
                      <td>21,000</td>
                      <td>TURBO-21S</td>
                      <td>560,000</td>
                    </tr>
                    <tr>
                      <th scope="row">50평</th>
                      <td>25,000</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">60평</th>
                      <td>30,000</td>
                      <td>TURBO-30S</td>
                      <td>640,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box box-d" align="left">
                <p>▶ 고효율 열교환기</p>
                <p>▶ 첨단 자가진단 시스템</p>
                <p>▶ 신기술 터보 소용돌이 버너</p>
                <p>▶ 좁은공간 설치 용이</p>
                <p>▶ 무상 A/S 1년</p>
                <br>
                <img width="40%" alt="test" src="{% static 'img/rinnai_sample.png' %}" >
              </div>
            </div>
          </div>
          <br>
          <div align="center" >
            <button class="btn" type="button" style="background:#ffff; color:#000000; margin-right:5%" onclick="$('html').animate({scrollTop : 0}, 100)">▲ Go Top</button>
          </div>
          <hr>
          <br>

          <div align="center">
          <h5> 일반형 철 내장형</h5><br>
            <div class="ro">
              <div class="box box-e" align="center" style=" margin:0; padding:0;">
                <table class="type09" >
                  <thead>
                    <tr>
                      <th colspan="4" >철 내장형</th>
                    </tr>
                    <tr>
                      <th scope="cols">평형(이하)</th>
                      <th scope="cols">용량(kcal)</th>
                      <th scope="cols">모델</th>
                      <th scope="cols">가격(원)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">20평</th>
                      <td>9,000</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">26평</th>
                      <td>13,000</td>
                      <td>TURBO-13D</td>
                      <td>540,000</td>
                    </tr>
                    <tr>
                      <th scope="row">32평</th>
                      <td>17,000</td>
                      <td>TURBO-17D</td>
                      <td>570,000</td>
                    </tr>
                    <tr>
                      <th scope="row">40평</th>
                      <td>21,000</td>
                      <td>TURBO-21D</td>
                      <td>610,000</td>
                    </tr>
                    <tr>
                      <th scope="row">50평</th>
                      <td>25,000</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">60평</th>
                      <td>30,000</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box box-d" align="left">
                <p>▶ 고효율 열교환기</p>
                <p>▶ 첨단 자가진단 시스템</p>
                <p>▶ 신기술 터보 소용돌이 버너</p>
                <p>▶ 좁은공간 설치 용이</p>
                <p>▶ 무상 A/S 1년</p>
                <br>
                <img width="40%" alt="test" src="{% static 'img/rinnai_sample.png' %}" >
              </div>
            </div>
          </div>
          <br>
          <div align="center" >
            <button class="btn" type="button" style="background:#ffff; color:#000000; margin-right:5%" onclick="$('html').animate({scrollTop : 0}, 100)">▲ Go Top</button>
          </div>
          <hr>
          <br>

          <div align="center">
          <h5> 일반형 스텐 외장형</h5><br>
            <div class="ro">
              <div class="box box-e" align="center" style=" margin:0; padding:0;">
                <table class="type09" >
                  <thead>
                    <tr>
                      <th colspan="4" >스텐 외장형</th>
                    </tr>
                    <tr>
                      <th scope="cols">평형(이하)</th>
                      <th scope="cols">용량(kcal)</th>
                      <th scope="cols">모델</th>
                      <th scope="cols">가격(원)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">20평</th>
                      <td>9,000</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">26평</th>
                      <td>13,000</td>
                      <td>스텐-13S</td>
                      <td>560,000</td>
                    </tr>
                    <tr>
                      <th scope="row">32평</th>
                      <td>17,000</td>
                      <td>스텐-17S</td>
                      <td>590,000</td>
                    </tr>
                    <tr>
                      <th scope="row">40평</th>
                      <td>21,000</td>
                      <td>스텐-21S</td>
                      <td>620,000</td>
                    </tr>
                    <tr>
                      <th scope="row">50평</th>
                      <td>25,000</td>
                      <td>스텐-25S</td>
                      <td>660,000</td>
                    </tr>
                    <tr>
                      <th scope="row">60평</th>
                      <td>30,000</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">70평</th>
                      <td>35,000</td>
                      <td>스텐-35S</td>
                      <td>750,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box box-d" align="left">
                <p>▶ 저탕식 보일러를 슬림화</p>
                <p>▶ 최고급 스텐재질/용접</p>
                <p>▶ 신기술 연료절약형 보일러</p>
                <p>▶ 자기안전 시스템</p>
                <p>▶ 무상 A/S 1년</p>
                <br>
                <img width="40%" alt="test" src="{% static 'img/rinnai_sample.png' %}" >
              </div>
            </div>
          </div>
          <br>
          <div align="center" >
            <button class="btn" type="button" style="background:#ffff; color:#000000; margin-right:5%" onclick="$('html').animate({scrollTop : 0}, 100)">▲ Go Top</button>
          </div>
          <hr>
          <br>

          <div align="center">
          <h5> 일반형 스텐 내장형</h5><br>
            <div class="ro">
              <div class="box box-e" align="center" style=" margin:0; padding:0;">
                <table class="type09" >
                  <thead>
                    <tr>
                      <th colspan="4" >스텐 내장형</th>
                    </tr>
                    <tr>
                      <th scope="cols">평형(이하)</th>
                      <th scope="cols">용량(kcal)</th>
                      <th scope="cols">모델</th>
                      <th scope="cols">가격(원)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">20평</th>
                      <td>9,000</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">26평</th>
                      <td>13,000</td>
                      <td>스텐-13D</td>
                      <td>600,000</td>
                    </tr>
                    <tr>
                      <th scope="row">32평</th>
                      <td>17,000</td>
                      <td>스텐-17D</td>
                      <td>630,000</td>
                    </tr>
                    <tr>
                      <th scope="row">40평</th>
                      <td>21,000</td>
                      <td>스텐-21D</td>
                      <td>660,000</td>
                    </tr>
                    <tr>
                      <th scope="row">50평</th>
                      <td>25,000</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">60평</th>
                      <td>30,000</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box box-d" align="left">
                <p>▶ 저탕식 보일러를 슬림화</p>
                <p>▶ 최고급 스텐재질/용접</p>
                <p>▶ 신기술 연료절약형 보일러</p>
                <p>▶ 자기안전 시스템</p>
                <p>▶ 무상 A/S 1년</p>
                <br>
                <img width="40%" alt="test" src="{% static 'img/rinnai_sample.png' %}" >
              </div>
            </div>
          </div>
          <br>
          <div align="center" >
            <button class="btn" type="button" style="background:#ffff; color:#000000; margin-right:5%" onclick="$('html').animate({scrollTop : 0}, 100)">▲ Go Top</button>
          </div>
          <hr>
          <br>

        </div>







      <!--<div class="ro">-->
        <!--<div class="box box-a " style="border-right:3px solid ; padding:5px; margin:0 auto; ">-->

          <!--<a href="{% url 'daesung_info' %}">-->
            <!--<img align="center" width="100%" height="" alt="boiler_text" src="{% static 'img/boiler_text.png' %}"><br><br>-->
          <!--</a>-->
          <!--<a href="{% url 'daesung_info' %}">-->
            <!--<img align="center" width="100%" height="" alt="daesung_logo" src="{% static 'img/daesung_logo.png' %}"><br><br>-->
          <!--</a>-->
          <!--<a href="{% url 'navien_info' %}">-->
            <!--<img align="center" width="100%" height="" alt="navien_logo" src="{% static 'img/navien_logo.png' %}"><br><br>-->
          <!--</a>-->
          <!--<a href="{% url 'kiturami_info' %}">-->
            <!--<img align="center" width="100%" height="" alt="kiturami_logo" src="{% static 'img/kiturami_logo.png' %}"><br><br>-->
          <!--</a>-->
          <!--<a href="{% url 'rinnai_info' %}">-->
            <!--<img align="center" width="100%" height="" alt="rinnai_logo" src="{% static 'img/rinnai_logo.png' %}"><br><br>-->
          <!--</a>-->
        <!--</div>-->






        <!--<div class="box box-c " style="border-left:3px solid; padding:5px; margin:0 auto; ">-->

          <!--<a href="{% url 'daesung_info' %}">-->
            <!--<img align="center" width="100%" height="" alt="aircon_text" src="{% static 'img/aircon_text.png' %}"><br><br>-->
          <!--</a>-->
          <!--<a href="{% url 'daesung_info' %}">-->
            <!--<img align="center" width="100%" height="" alt="samsung_logo" src="{% static 'img/samsung_logo.png' %}"><br><br>-->
          <!--</a>-->
          <!--<a href="{% url 'navien_info' %}">-->
            <!--<img align="center" width="100%" height="" alt="lg_logo" src="{% static 'img/lg_logo.png' %}"><br><br>-->
          <!--</a>-->
          <!--<a href="{% url 'kiturami_info' %}">-->
            <!--<img align="center" width="100%" height="" alt="carrier_logo" src="{% static 'img/carrier_logo.png' %}"><br><br>-->
          <!--</a>-->
          <!--<a href="{% url 'rinnai_info' %}">-->
            <!--<img align="center" width="100%" height="" alt="winia_logo" src="{% static 'img/winia_logo.png' %}"><br><br>-->
          <!--</a>-->
          <!--<a href="{% url 'rinnai_info' %}">-->
            <!--<img align="center" width="100%" height="" alt="else_logo" src="{% static 'img/else_logo.png' %}"><br><br>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->



    </div>
  </section>



   <!-- Contact Section -->
  <!--<section class="page-section bg-primary text-white mb-0" id="contact">-->
    <!--<div class="container">-->

      <!--<div class="divider-custom divider-light">-->
        <!--<div class="divider-custom-line"></div>-->
        <!--<div class="divider-custom-icon">-->
          <!--<i class="fas fa-star"></i>-->
        <!--</div>-->
        <!--<div class="divider-custom-line"></div>-->
      <!--</div>-->
      <!--<div style = " font-size:7em;  color: white; text-align:center">010-1234-5678</div>-->
    <!--</div>-->
  <!--</section>-->


  <!-- Footer -->
  <hr>
  <footer  style="padding:0px; padding-bottom:0px; padding:left:0px">
    <div class="container" id="footer_contact" align="center">
      <p style="font-size:0.47em; line-height:1px;">주소: 창원시 성산구 신월로 69  / 사업자정보: 390-35-00619 /  전화번호: 055-342-6151 </p>
      <p style="font-size:0.47em; line-height:1px;">전화번호: 010-5477-6151 /  Fax: 055-603-0999 / 이메일: gostor28@naver.com</p>
      <p style="font-size:0.47em; line-height:1px;">개인정보 관리책임자: 차남준  / Copyright &copy; 다이렉트 보일러&에어컨  /  대표: 차남준</p>
      </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>



  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/freelancer.min.js' %}"></script>




<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script type="text/javascript">
var currentPosition = parseInt($("#sidebox").css("top")); $(window).scroll(function() { var position = $(window).scrollTop(); $("#sidebox").stop().animate({"top":position+currentPosition+"px"},1000); });

</script>


</body>

</html>
