<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>다이렉트 보일러</title>

    <!-- Custom fonts for this theme -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" trype="text/css">

  <!-- Theme CSS -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

  <style type="text/css">
    .select-script{position:relative; width:70%; height:40px; line-height:40px; text-transform:uppercase; background:#fff; margin:0;}
	.select-script label{position:absolute; width:100%; font-size:.86em; color:#606976; top:0; left:0; right:0;  padding:0 5%;}
	.select-script label:after{content:'▼'; width:40px; height:38px; position:absolute; top:0; right:0; margin:0; padding:0 font-size:.76em; color:#fff; text-align:center; background:#606976;}
	.select-script select{width:90%; height:40px; opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0)/* IE 8 */;}

    table.type09 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;

    }
    table.type09 thead th {
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        color: #369;
        border-bottom: 3px solid #036;
    }
    table.type09 tbody th {
        width: 22%;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
        background: #f3f6f7;
    }
    table.type09 td {
        width: 20%;
        padding: 10px;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
    }

    .nav_ro2 {
      width: 94%;
      display: table;
      margin-left:3%;
      margin-right:3%;
      margin-top:2%;
    }
    .nav_box2 { display: table-cell;}
    .nav_box2-a { width: 30%; }
    .nav_box2-b { width: 25%; }
    .nav_box2-c { width: 25%; }
</style>


</head>


<body id="page-top">

  <div class="nav_ro2">
    <div class="nav_box2 nav_box2_a" style="padding-left:3%">
      <a href="{% url 'index' %}">
        <img align="center" width="120%" height="" alt="nav_title1" src="{% static 'img/nav_title1.png' %}"><br><br>
      </a>
    </div>
    <div class="nav_box2 nav_box2_b" style="padding-left:8%">
      <img align="center" width="90%" height="" alt="nav_search" src="{% static 'img/naver_search.png' %}"><br><br>
    </div>

    <div class="nav_box2 nav_box2_c" >
      <a href="tel:0553426151">
        <img align="center" width="95%" height="" alt="nav_title_phone" src="{% static 'img/nav_title_phone.png' %}"><br><br>
      </a>
    </div>

  </div>

  <table width="100%" height="40" border="0" cellspacing="0" cellpadding="0" style="background-color:#FFCC33;">
		<!--<table width="100%" height="35" border="0" cellspacing="0" cellpadding="0" >-->
          <tr style="font-size=5px">
            <td align="center"><a style="color:#000000;" href="{% url 'index' %}"><font size="2em" face="나눔고딕">회사소개</font></a></td>
            <td align="center"><a style="color:#000000" href="{% url 'service' %}"><font size="2em" face="나눔고딕">견적비교</font></a></td>
            <td align="center"><a style="color:#000000" href="{% url 'product_info' %}"><font size="2em" face="나눔고딕">제품소개</font></a></td>
            <td align="center"><a style="color:#000000" href="{% url 'consult' %}"><font size="2em" face="나눔고딕">상담신청</font></a></td>
            <!--<td align="center"><a style="color:#000000" href="{% url 'recent' %}"><font size="2em" face="나눔고딕">설치현황</font></a></td>-->
            <!--<td align="center"><a style="color:#000000" href="{% url 'customer' %}"><font size="2em" face="나눔고딕">고객지원</font></a></td>-->
            <!--<td align="center"><a style="color:#000000" href="{% url 'map' %}"><font size="2em" face="나눔고딕">오시는길</font></a></td>-->
          </tr>
  </table>

  <section class="page-section  mb-0" id="service">
    <div class="container">

      <h2 class="page-section-heading text-center text-uppercase ">Service</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>



      <div class="row">
        <div class="col-lg-8 mx-auto" style="padding-left:17%" >
      <form action="#result" method="post" id = "my_form"  name = "myForm">
        {% csrf_token %}
      <div class="select-box select-script" id="d1" style="border:1px solid #606976; border-radius:4px;">
        <label for="sort-select"  id = s1 >서비스 종목을 선택하세요</label>
      <select id="sort-select" name="service_type" onchange="service_type_change()">
        <option value="">서비스 종목을 선택하세요</option>
        {% for i in model|dictsort:"service_type" %}
        {% ifchanged %}
          <option value="{{i.service_type}}">{{i.service_type}}</option>
        {% endifchanged %}
        {% endfor %}
      </select>
      </div>
      <br>
      <div class="select-box select-script" id="d2">
        <label for="sort-select2" id = s2 style="display:none">에어컨 종류를 선택하세요</label>
      <select id="sort-select2" name="aircon_type" onchange="aircon_type_change()" style="display:none">

      </select>
      </div>
      <br>
      <div class="select-box select-script" id="d3">
        <label for="sort-select3" id = s3 style="display:none">제조사를 선택하세요</label>
      <select id="sort-select3" name="company" onchange="company_change()" style="display:none">

      </select>
      </div>
      <br>
      <div class="select-box select-script" id="d4">
        <label for="sort-select4" id = s4 style="display:none">배관형태 선택하세요</label>
      <select id="sort-select4" name="structure" style="display:none">

      </select>
      </div>
        <br>

      <div style="padding-left:10%" id="result">
        <a class="btn" style="background:#606976; color:#ffff; margin-right:13%" href="{% url 'service' %}">다시 고르기</a>
        <input type="submit" id = "submit_btn" class="btn" style="background:#606976; color:#ffff" onclick="return validate()" value="OK">
      </div>
      </form>
        </div>
      </div>

    </div>
  </section>
  <div align="center" >
    <table class="type09" >
      <thead>
        <tr>
            <th scope="cols">제품명</th>
          <th scope="cols">가격</th>
        </tr>
        </thead>
        <tbody>
        {% for i in rows|dictsort:'price' %}
        <tr>
          <th scope="row">{{ i.product_name }}</th>
          <td>{{ i.price }}원</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <br><br>
    <a class="btn btn-xl btn-outline-dark" href="{% url 'consult' %}">
      1대1 상담신청하기!!
    </a>
    <!--<button class="btn" type="button" style="background:#ffff; color:#000000; margin-right:0%; padding-left:0%" onclick="$('html').animate({scrollTop : 0}, 100)">▲ Go Top</button>-->
  </div>
  <br><br><br>

  <!-- Footer -->
  <hr>
  <footer  style="padding:0px; padding-bottom:0px; padding:left:0px">
    <div class="container" id="footer_contact" align="center">
      <p style="font-size:0.47em; line-height:1px;">주소: 창원시 성산구 신월로 69  / 사업자정보: 390-35-00619 /  전화번호: 055-342-6151 </p>
      <p style="font-size:0.47em; line-height:1px;">전화번호: 010-5477-6151 /  Fax: 055-603-0999 / 이메일: gostor28@naver.com</p>
      <p style="font-size:0.47em; line-height:1px;">개인정보 관리책임자: 차남준  / Copyright &copy; 다이렉트 보일러&에어컨  /  대표: 차남준</p>
      </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>



  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/freelancer.min.js' %}"></script>




<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script type="text/javascript">


  $(document).ready(function(){
<!--select box 꾸미기 설정-->
                  var select = $('.select-script select');
                  select.change(function(){
                      var select_name = $(this).children('option:selected').text();
                      $(this).siblings("label").text(select_name);
                  });

              });


                  function validate()

                  {

                      if( document.myForm.service_type.value == "" )

                     {
                       document.myForm.service_type.focus() ;
                       alert( "서비스 종목을 선택해주세요!" );
                       return false;

                     }

                     else if( document.myForm.aircon_type.value == "" )

                     {
                       alert( "에어컨 종류를 선택해주세요!" );
                       document.myForm.aircon_type.focus() ;
                       return false;
                     }

                     else if( document.myForm.company.value == "")
                     {
                       alert( "제조사를 선택해주세요!" );
                       document.myForm.company.focus() ;
                       return false;
                     }

                     if( document.myForm.structure.value == "" )
                     {
                       alert( "배관형태를 선택해주세요" );
                       document.myForm.structure.focus() ;
                       return false;
                     }
                     else {
                       <!--var offset = $('#submit_btn').offset(); //선택한 태그의 위치를 반환-->
                       <!--//animate()메서드를 이용해서 선택한 태그의 스크롤 위치를 지정해서 0.4초 동안 부드럽게 해당 위치로 이동함-->
                       <!--$('html').animate({scrollTop : offset.top}, 400);-->
                       return( true );
                     }



                  }







  function service_type_change()
  {


    console.log("aaA")
    $.ajax({
      type: "POST",
      data: { service_type : $('#sort-select').val(), aircon_type : $('#sort-select2').val(), company : $('#sort-select3').val(), structure : $('#sort-select4').val(), csrfmiddlewaretoken: '{{ csrf_token }}'},
      url: "{% url 'service_aircon' %}",
      // handle a successful response
        success : function(json) {
            var json2 = JSON.parse(json);

            json2.sort(function(a, b) { // 오름차순
                return a.aircon_type < b.aircon_type ? -1 : a.aircon_type > b.aircon_type ? 1 : 0;
            });

            $('#sort-select2').html("");
            for(var i=0; i<json2.length; i++) {
                console.log(json2[i].aircon_type);
                if(i != 0) {
                  if (json2[i].aircon_type != json2[i-1].aircon_type) {
                    var a = json2[i].aircon_type;
                    $('#sort-select2').append("<option value="+ a +">" + a + "</option>");
                  }
                }
                else {
                  var a = json2[i].aircon_type;
                  $('#sort-select2').append("<option value="+ a +">" + a + "</option>");
                }


            }

            $('#sort-select2').prepend("<option value='' selected='selected'>에어컨 종류를 선택하세요</option>")
            $('#sort-select2').css("display","table-row");
            $('#s2').css("display","table-row");
            $('#d2').css("border","1px solid #606976");
            $('#d2').css("border-radius", "4px");

            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log("ajax error!!!!")
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }

    });
  }

  function aircon_type_change()
  {
    console.log("aaA")
    $.ajax({
      type: "POST",
      data: { service_type : $('#sort-select').val(), aircon_type : $('#sort-select2').val(), company : $('#sort-select3').val(), structure : $('#sort-select4').val(), csrfmiddlewaretoken: '{{ csrf_token }}'},
      url: "{% url 'service_aircon' %}",
      // handle a successful response
        success : function(json) {
            var json2 = JSON.parse(json);

            json2.sort(function(a, b) { // 오름차순
                return a.company < b.company ? -1 : a.company > b.company ? 1 : 0;
            });

            $('#sort-select3').html("");
            for(var i=0; i<json2.length; i++) {
                console.log(json2[i].company);
                if(i != 0) {
                  if (json2[i].company != json2[i-1].company) {
                    var a = json2[i].company;
                    $('#sort-select3').append("<option value="+ a +">" + a + "</option>");
                  }
                }
                else {
                  var a = json2[i].company;
                  $('#sort-select3').append("<option value="+ a +">" + a + "</option>");
                }


            }

            $('#sort-select3').prepend("<option value='' selected='selected'>제조사를 선택하세요</option>")
            $('#sort-select3').css("display","table-row");
            $('#s3').css("display","table-row");
            $('#d3').css("border","1px solid #606976");
            $('#d3').css("border-radius", "4px");

            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log("ajax error!!!!")
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }

    });
  }

  function company_change()
  {
    console.log("aaA")
    $.ajax({
      type: "POST",
      data: { service_type : $('#sort-select').val(), aircon_type : $('#sort-select2').val(), company : $('#sort-select3').val(), structure : $('#sort-select4').val(), csrfmiddlewaretoken: '{{ csrf_token }}'},
      url: "{% url 'service_aircon' %}",
      // handle a successful response
        success : function(json) {

            var json2 = JSON.parse(json);

            json2.sort(function(a, b) { // 오름차순
                return a.structure < b.structure ? -1 : a.structure > b.structure ? 1 : 0;
            });

            $('#sort-select4').html("");
            for(var i=0; i<json2.length; i++) {
                console.log(json2[i].structure);
                if(i != 0) {
                  if (json2[i].structure != json2[i-1].structure) {
                    var a = json2[i].structure;
                    $('#sort-select4').append("<option value="+ a +">" + a + "</option>");
                  }
                }
                else {
                  var a = json2[i].structure;
                  $('#sort-select4').append("<option value="+ a +">" + a + "</option>");
                }


            }

            $('#sort-select4').prepend("<option value='' selected='selected'>배관형태를 선택하세요</option>")
            $('#sort-select4').css("display","table-row");
            $('#s4').css("display","table-row");
            $('#d4').css("border","1px solid #606976");
            $('#d4').css("border-radius", "4px");

            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log("ajax error!!!!")
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }

    });
  }

</script>


</body>

</html>
