<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" trype="text/css">

  <!-- Theme CSS -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>
<body>
<img src="{% static 'img/popup/popup.jpg' %}" style="max-width: 100%; height: auto;">

<div align="center">
  <input type='BUTTON' value="X" onClick='self.close()' style="width:100%; height:25px">
</div>
</body>
</html>
